<div id="whats-special" class="padding image-bg" style="position: relative;">
    <h1>What Can You Do With RaveCrate?</h1>
    <div class="row special-imgs">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="imgWrap" data-toggle="modal" data-target=".sponsor-modal">
                <a href="#"><img src="app/assets/images/special/sponsor.jpg"></a>
                <div class="special-hover"></div>
                <p class="special-title"><b>SPONSOR</b></p>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="imgWrap" data-toggle="modal" data-target=".host-modal">
                <a href="#"><img src="app/assets/images/special/host.jpg"></a>
                <div class="special-hover"></div>
                <p class="special-title"><b>HOST</b></p>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="imgWrap" data-toggle="modal" data-target=".attendees-modal">
                <a href="#"><img src="app/assets/images/special/attendees.jpg"></a>
                <div class="special-hover"></div>
                <p class="special-title"><b>ATTENDEES</b></p>
            </div>
        </div>
    </div>
    <div class="row special-imgs" style="padding-top: 70px;">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="imgWrap" data-toggle="modal" data-target=".feedback-modal">
                <a href="#"><img src="app/assets/images/special/feedback.jpg"></a>
                <div class="special-hover"></div>
                <p class="special-title"><b>FEEDBACK</b></p>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="imgWrap" data-toggle="modal" data-target=".freelancer-modal">
                <a href="#"><img src="app/assets/images/special/freelancer.jpg"></a>
                <div class="special-hover"></div>
                <p class="special-title"><b>FREELANCER</b></p>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="imgWrap" data-toggle="modal" data-target=".proximity-modal">
                <a href="#"><img src="app/assets/images/special/proximity.jpg"></a>
                <div class="special-hover"></div>
                <p class="special-title"><b>PROXIMITY</b></p>
            </div>
        </div>
    </div>
</div>

<!-- Fullscreen Modals -->

<!-- Sponsor Modal -->
<div class="modal fade sponsor-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
                <h2 class="modal-title" id="myModalLabel"><b>Sponsor</b></h2>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="row outer">
                        <div class=" first-column col-md-6">
                            <h4>Ravecrate allows you to search for possible sponsors for your events and gain leads. At the same time, users can sponsor events and make it public through Ravecrate.</h4>
                            <button class="close" data-dismiss="modal"><img src="app/assets/images/special/proximity.jpg" alt="" data-toggle="modal" data-target=".proximity-modal"/></button>

                            <button class="close" data-dismiss="modal"><img src="app/assets/images/special/freelancer.jpg" alt="" data-toggle="modal" data-target=".freelancer-modal"/></button>

                            <button class="close" data-dismiss="modal"><img src="app/assets/images/special/feedback.jpg" alt="" data-toggle="modal" data-target=".feedback-modal"/></button>

                            <button class="close" data-dismiss="modal"><img src="app/assets/images/special/attendees.jpg" alt="" data-toggle="modal" data-target=".attendees-modal"/></button>

                            <button class="close" data-dismiss="modal"><img src="app/assets/images/special/host.jpg" alt="" data-toggle="modal" data-target=".host-modal"/></button>

                            <button class="close" style="opacity: 1;"><img src="app/assets/images/special/sponsor.jpg" alt=""/></button>
                        </div>
                        <div class="col-md-6"><img src="app/assets/images/special/sponsor.jpg" style="width:100vw" class="img-responsive"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Host Modal -->
<div class="modal fade host-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
                <h2 class="modal-title" id="myModalLabel"><b>Host</b></h2>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="row outer">
                        <div class=" first-column col-md-6">
                            <h4>With our mobile app and website, you can host events and get paid for it. In addition, you can hire freelancers and gain PR, or even persuade sponsors to lower the cost of an event.</h4>
                            <button class="close" data-dismiss="modal"><img src="app/assets/images/special/proximity.jpg" alt="" data-toggle="modal" data-target=".proximity-modal"/></button>

                            <button class="close" data-dismiss="modal"><img src="app/assets/images/special/freelancer.jpg" alt="" data-toggle="modal" data-target=".freelancer-modal"/></button>

                            <button class="close" data-dismiss="modal"><img src="app/assets/images/special/feedback.jpg" alt="" data-toggle="modal" data-target=".feedback-modal"/></button>

                            <button class="close" data-dismiss="modal"><img src="app/assets/images/special/attendees.jpg" alt="" data-toggle="modal" data-target=".attendees-modal"/></button>

                            <button class="close" style="opacity: 1;"><img src="app/assets/images/special/host.jpg" alt=""/></button>

                            <button class="close" data-dismiss="modal"><img src="app/assets/images/special/sponsor.jpg" alt="" data-toggle="modal" data-target=".sponsor-modal"/></button>
                        </div>
                        <div class="col-md-6"><img src="app/assets/images/special/host.jpg" style="width:100vw" class="img-responsive"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Attendees Modal -->
<div class="modal fade attendees-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
                <h2 class="modal-title" id="myModalLabel"><b>Attendees</b></h2>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="row outer">
                        <div class=" first-column col-md-6">
                            <h4>While Ravecrate takes the hassle out of event planning, it also makes reaching out to your guests even easier. Don’t dial up all your friends individually and text each of them the time, date, and location when you can send
                                out mass invites through our mobile app or website. This feature works the other way around as well: guests have access to event information at their fingertips, making it easier for them to find you.</h4>
                            <button class="close" data-dismiss="modal"><img src="app/assets/images/special/proximity.jpg" alt="" data-toggle="modal" data-target=".proximity-modal"/></button>

                            <button class="close" data-dismiss="modal"><img src="app/assets/images/special/freelancer.jpg" alt="" data-toggle="modal" data-target=".freelancer-modal"/></button>

                            <button class="close" data-dismiss="modal"><img src="app/assets/images/special/feedback.jpg" alt="" data-toggle="modal" data-target=".feedback-modal"/></button>

                            <button class="close" style="opacity: 1;"><img src="app/assets/images/special/attendees.jpg" alt=""/></button>

                            <button class="close" data-dismiss="modal"><img src="app/assets/images/special/host.jpg" alt="" data-toggle="modal" data-target=".host-modal"/></button>

                            <button class="close" data-dismiss="modal"><img src="app/assets/images/special/sponsor.jpg" alt="" data-toggle="modal" data-target=".sponsor-modal"/></button>
                        </div>
                        <div class="col-md-6"><img src="app/assets/images/special/attendees.jpg" style="width:100vw" class="img-responsive"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Feedback Modal -->
<div class="modal fade feedback-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
                <h2 class="modal-title" id="myModalLabel"><b>Feedback</b></h2>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="row outer">
                        <div class="first-column col-md-6">
                            <h4>Don’t hesitate to tell us about your experience with Ravecrate. We review all feedback and implement changes in real time to make Ravecrate the best it can be. We understand the importance of catering to the diverse needs of
                                event planners, freelancers, and guests to make events as successful as possible.</h4>
                            <button class="close" data-dismiss="modal"><img src="app/assets/images/special/proximity.jpg" alt="" data-toggle="modal" data-target=".proximity-modal"/></button>

                            <button class="close" data-dismiss="modal"><img src="app/assets/images/special/freelancer.jpg" alt="" data-toggle="modal" data-target=".freelancer-modal"/></button>

                            <button class="close" style="opacity: 1;"><img src="app/assets/images/special/feedback.jpg" alt=""/></button>

                            <button class="close" data-dismiss="modal"><img src="app/assets/images/special/attendees.jpg" alt="" data-toggle="modal" data-target=".attendees-modal"/></button>

                            <button class="close" data-dismiss="modal"><img src="app/assets/images/special/host.jpg" alt="" data-toggle="modal" data-target=".host-modal"/></button>

                            <button class="close" data-dismiss="modal"><img src="app/assets/images/special/sponsor.jpg" alt="" data-toggle="modal" data-target=".sponsor-modal"/></button>
                        </div>
                        <div class="col-md-6"><img src="app/assets/images/special/feedback.jpg" style="width:100vw" class="img-responsive"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Freelancer Modal -->
<div class="modal fade freelancer-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
                <h2 class="modal-title" id="myModalLabel"><b>Freelancer</b></h2>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="row outer">
                        <div class=" first-column col-md-6">
                            <h4>The Ravecrate community is home to a number of freelancers who are willing to help you pull off your event successfully. You don’t have to look for ads in the paper or scroll through online listings; freelancers, their skills,
                                and locations are made available directly through Ravecrate.</h4>
                            <button class="close" data-dismiss="modal"><img src="app/assets/images/special/proximity.jpg" alt="" data-toggle="modal" data-target=".proximity-modal"/></button>

                            <button class="close" style="opacity: 1;"><img src="app/assets/images/special/freelancer.jpg" alt=""/></button>

                            <button class="close" data-dismiss="modal"><img src="app/assets/images/special/feedback.jpg" alt="" data-toggle="modal" data-target=".feedback-modal"/></button>

                            <button class="close" data-dismiss="modal"><img src="app/assets/images/special/attendees.jpg" alt="" data-toggle="modal" data-target=".attendees-modal"/></button>

                            <button class="close" data-dismiss="modal"><img src="app/assets/images/special/host.jpg" alt="" data-toggle="modal" data-target=".host-modal"/></button>

                            <button class="close" data-dismiss="modal"><img src="app/assets/images/special/sponsor.jpg" alt="" data-toggle="modal" data-target=".sponsor-modal"/></button>
                        </div>
                        <div class="col-md-6"><img src="app/assets/images/special/freelancer.jpg" style="width:100vw" class="img-responsive"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Proximity Modal -->
<div class="modal fade proximity-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#10005;</span></button>
                <h2 class="modal-title" id="myModalLabel"><b>Proximity</b></h2>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="row outer">
                        <div class=" first-column col-md-6">
                            <h4>Instantly discover the location of nearby parties, events, and freelancers with our mobile app’s proximity feature. Ravecrate allows you to view interests you have in common with people close by, including their likes and past
                                events they have attended. You can also customize your searches, whether you’re looking for dedicated developers or generous investors for you next enterprise.</h4>
                            <button class="close" style="opacity: 1;"><img src="app/assets/images/special/proximity.jpg" alt=""/></button>

                            <button class="close" data-dismiss="modal"><img src="app/assets/images/special/freelancer.jpg" alt="" data-toggle="modal" data-target=".freelancer-modal"/></button>

                            <button class="close" data-dismiss="modal"><img src="app/assets/images/special/feedback.jpg" alt="" data-toggle="modal" data-target=".feedback-modal"/></button>

                            <button class="close" data-dismiss="modal"><img src="app/assets/images/special/attendees.jpg" alt="" data-toggle="modal" data-target=".attendees-modal"/></button>

                            <button class="close" data-dismiss="modal"><img src="app/assets/images/special/host.jpg" alt="" data-toggle="modal" data-target=".host-modal"/></button>

                            <button class="close" data-dismiss="modal"><img src="app/assets/images/special/sponsor.jpg" alt="" data-toggle="modal" data-target=".sponsor-modal"/></button>
                        </div>
                        <div class="col-md-6"><img src="app/assets/images/special/proximity.jpg" style="width:100vw" class="img-responsive"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>