<div class="container-fluid sitebgcolor forgotyourpasswrd">
    <div class="login-form-wrap">
    <div class="login-wrap">
        <div class="login-form">
            <form [formGroup]="restPasswordForm" autocomplete="off" (ngSubmit)="resetPassword(restPasswordForm.value)" novalidate>
                <div class="login-form">
                    <h2>Reset Your Password</h2>
                    <div class="form-group">
                        <input [ngClass]= "{'error': !isUserValid, 'noerror': isUserValid}" type="text" (ngModel)="password" name="password" placeholder="Password" required id="password" class="login-input">
                    </div>
                    <div class="form-group">
                        <input [ngClass]= "{'error': !isUserValid, 'noerror': isUserValid}" type="password" (ngModel)="cnfrmpassword" name="cnfrmpassword" placeholder="Reenter password"  required id="cpassword" class="login-input">
                    </div>
                    <button type="submit" id="login" [disabled]="f.invalid" name="button">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>