
.forgotyourpasswrd h2{
    font-weight: 800;
    color: black;
}

.forgotyourpasswrd h2 + p{
    font-weight: bold;
    color: black;
}

#returntohomeid{
    font-weight: bold;
}

.forgotyourpasswrd button{
    margin-bottom: 2%;
}

.form-group input{
    background-color: lightgray;
}

.forgotyourpasswrd button{
    cursor: pointer;
}

.error{
    background-color: #E05C65 !important;
}