

<div class="container-fluid evendetail" style="background-color: #17B2EF;">
    <!-- <div> -->
    <div class="col-lg-4 col-md-6 col-sm-12" style="text-align: center">

        <div style="background-color: white; width: 100%; height: 81vh; overflow: scroll; border-radius: 20px;">
            <h2>Attendees</h2>
            <div>
                <hr>
                <a href="freelancerProfile.html"><img src="http://res.freestockphotos.biz/pictures/14/14114-a-beautiful-young-business-woman-posing-on-a-white-background-pv.jpg" alt="" style="border-radius: 50%; border: 3px solid #17B2EF; height: 100px; width: 100px; float: left; margin-left: 5px; margin-top: 5px;"
                    /></a>
                <h4 style="float: left; margin-left: 50px; margin-top: 50px;">Ali Levine</h4>
            </div>
            <br><br><br><br><br>
            <hr>
            <div>
                <a href="freelancerProfile.html"><img src="http://res.freestockphotos.biz/pictures/14/14114-a-beautiful-young-business-woman-posing-on-a-white-background-pv.jpg" alt="" style="border-radius: 50%; border: 3px solid #17B2EF; height: 100px; width: 100px; float: left; margin-left: 5px; margin-top: 5px;"
                    /></a>
                <h4 style="float: left; margin-left: 50px; margin-top: 50px;">Kelly Smith</h4>
            </div>
            <br><br><br><br><br>
            <hr>
            <div>
                <a href="freelancerProfile.html"><img src="http://res.freestockphotos.biz/pictures/14/14114-a-beautiful-young-business-woman-posing-on-a-white-background-pv.jpg" alt="" style="border-radius: 50%; border: 3px solid #17B2EF; height: 100px; width: 100px; float: left; margin-left: 5px; margin-top: 5px;"
                    /></a>
                <h4 style="float: left; margin-left: 50px; margin-top: 50px;">Mary Jones</h4>
            </div>
            <br><br><br><br><br>
            <hr>
            <div>
                <a href="freelancerProfile.html"><img src="http://res.freestockphotos.biz/pictures/14/14114-a-beautiful-young-business-woman-posing-on-a-white-background-pv.jpg" alt="" style="border-radius: 50%; border: 3px solid #17B2EF; height: 100px; width: 100px; float: left; margin-left: 5px; margin-top: 5px;"
                    /></a>
                <h4 style="float: left; margin-left: 50px; margin-top: 50px;">Jessica Martinez</h4>
            </div>
            <br><br><br><br><br>
            <hr>
            <div>
                <a href="freelancerProfile.html"><img src="http://res.freestockphotos.biz/pictures/14/14114-a-beautiful-young-business-woman-posing-on-a-white-background-pv.jpg" alt="" style="border-radius: 50%; border: 3px solid #17B2EF; height: 100px; width: 100px; float: left; margin-left: 5px; margin-top: 5px;"
                    /></a>
                <h4 style="float: left; margin-left: 50px; margin-top: 50px;">Rachel Williams</h4>
            </div>
            <br><br><br><br><br>
            <hr>
            <div>
                <a href="freelancerProfile.html"><img src="http://res.freestockphotos.biz/pictures/14/14114-a-beautiful-young-business-woman-posing-on-a-white-background-pv.jpg" alt="" style="border-radius: 50%; border: 3px solid #17B2EF; height: 100px; width: 100px; float: left; margin-left: 5px; margin-top: 5px;"
                    /></a>
                <h4 style="float: left; margin-left: 50px; margin-top: 50px;">Samantha Albright</h4>
            </div>
            <br><br><br><br><br>
            <hr>
        </div>
        <br>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12" style="text-align: center;">
        <div *ngIf="eventDetail">
            <img src="app/assets/images/events/magic.jpg" alt="" style="height: 250px; width: 400px; border: 5px solid black;" />
            <h1>{{eventDetail.event.title}}</h1>
            <a href="http://maps.google.com/?q= 618 S Spring St, Los Angeles CA 90014">
                <p style="color: black;">{{eventDetail.event.address.streetNumber}} {{eventDetail.event.address.streetName}}
                    {{eventDetail.event.address.city}},  {{eventDetail.event.address.state}} {{eventDetail.event.address.zipcode}}
                </p>
            </a>
            <p><b>Venue:</b> {{eventDetail.event.venue}}</p>
            <p><b>Hosted by:</b> {{eventDetail.event.host}}</p>
            <p><b>When:</b> {{eventDetail.event.date}} {{eventDetail.event.startTimeHour}}:{{eventDetail.event.startTimeMin}}:00 PM</p>
            <p><b>Description:</b> {{eventDetail.event.description}}</p>
            <p><b>Type:</b> {{eventDetail.event.type}}</p>
            <p><b>Fee:</b> {{eventDetail.event.fee}}</p>
            <p><b>Phone:</b> {{eventDetail.event.phone}}</p>
            <a href="mailto:vip@exchangela.com">
                <p style="color: black;"><b>Email:</b> {{eventDetail.event.email}}</p>
            </a>
            <br>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12" style="text-align: center">
       <img src="http://www.bigfunkidsfest.com/images/involved-icon-tix.png" alt="" />
        <div class="buyticksbtn">
            <button type="submit" (click)="buyTicketsHere()" class="btn btn-warning" id="buytickets"  name="button">Buy Tickets Here</button>
        </div>
        <div *ngIf="buyticketsClicked" class ="paymentbox">
            <h4>Please select payment type and continue.</h4>
            <div class="radio">
                <label><input type="radio" name="payoption">Payment Methods</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="payoption">Credit Card</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="payoption">Pay Pal</label>
            </div>
            <div class="paycontbtn">
                <button type="submit" (click)="buyTickets()" class="btn btn-warning" id="buytickets"  name="button">Continue</button>
            </div>
        </div>
    </div>

    <!-- </div> -->
</div>
