<div class="container-fluid sitebgcolor">
    
    <div class="loginformwrap">
        <div class="loginhead">
            <span>LOG INTO RAVECRATE</span>
        </div>
        <div class="login-form-wrap">
        <div class="login-wrap">
            <div class="login-form">
                <form [formGroup]="loginForm" id="loginform" autocomplete="off" (ngSubmit)="login(loginForm.value)" method="post" novalidate>
                    <div class="row">
                        <div *ngIf="!isUserValidated" class="col-md-12">
                            <span class="errorMsg">Please enter valid credentials.</span>
                        </div>
                    </div>
                    <div class="input-group">
                        <input id="email" type="text" class="form-control" formControlName="email" name="email" placeholder="Email">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span> 
                    </div>
                     <div class="input-group">
                        <input id="password" type="password" class="form-control" formControlName="password" name="password" placeholder="Password">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    </div>
                    <button type="submit" class="btn btn-warning" id="login"  name="button">LOG IN</button>
                </form>
                    <div class="row linkstwo paddingtop40">
                        <div class="col-md-6 displayinline">
                            <input type="checkbox" name="checkbox" class=""><label> Keep me logged in</label>
                        </div>
                        <div class="forgotyourpass col-md-6 displayinline">
                            <a href="#" (click)="forgotYourPassword($event)" class="">Forgot your password?</a>
                        </div>
                    </div>
                    <div class="signuptoday">
                        <button type="submit" (click)="signUpToday($event)" class="btn btn-signup" id="login" name="button">Sign Up Today!</button>
                    </div>
                </div>
        </div>
    </div>
    </div>
<h1 class="become-login">Become an event planner or freelancer today!</h1>
</div>