<div class="signup-body">
    <section>
        <div class="signup-container">
            <div class="row">
                <div class="col-md-6 signup-text">
                    <p>Become an event planner or </p>
                    <p>freelancer today!</p>
                    <p>Plan an event and invite your friends. <br /> Become a freelancer for an event.
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="row signupform">
                        <h2>IT'S FREE SO JOIN TODAY!</h2>
                        <form [formGroup]="signUpForm" id="signUpForm" autocomplete="off" novalidate (ngSubmit)="signUp(signUpForm.value)" method="post">
                                <div class="input-group">
                                <input id="email" type="text" class="form-control" formControlName="firstName" name="firstName" placeholder="First Name">
                            </div>
                                <div class="input-group">
                                <input id="email" type="text" class="form-control" formControlName="lastName" name="lastName" placeholder="Last Name">
                            </div>
                                <div class="input-group">
                                <input id="email" type="text" class="form-control" formControlName="email" name="email" placeholder="Email">
                            </div>
                                <div class="input-group">
                                <input id="email" type="password" class="form-control" formControlName="password" name="password" placeholder="Password">
                            </div>
                                <div class="input-group">
                                <input id="email" type="password" class="form-control" formControlName="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
                            </div>
                            <div class="row centeralign">
                                <button type="submit" class="btn btn-warning" id="signupbtn"  name="button">SIGN UP</button>
                            </div>
                        </form>
                    </div>
                    <div class="row legalterms">
                        <p class="legal">By signing up, I agree to Rave Crate’s <a>terms of service</a>, <a>Privacy Policy</a>, and <a>cookie policy</a>.</p>
                        <p class="legal">
                            Create Page for Freelancer or Event Planner.
                        </p>
                    </div>
                </div>
                    
             
            </div>
        </div>
    </section>
</div>