<div class="signup-body">
    <section>
        <div class="signup-container">
            <div class="row">
                <div class="col-md-6 signup-text">
                    <p>Become an event planner or </p>
                    <p>freelancer today!</p>
                    <p>Plan an event and invite your friends. <br /> Become a freelancer for an event.
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="row signupform">
                        <h2>IT'S FREE SO JOIN TODAY!</h2>
                        <form [formGroup]="user" id="signUpForm" autocomplete="off" novalidate (ngSubmit)="signUp(user)">
                            <div class="input-group errmsg" *ngIf="isFormInvalid && !user.touched">
                                Please enter valid fields.
                            </div>
                            <div class="input-group col-md-12 col-xs-12 col-lg-12">
                                <div class="errmsg"
                                    *ngIf="user.get('firstName').hasError('required') && user.get('firstName').touched">
                                    * first Name is required
                                </div>
                                <input id="email" type="text" class="form-control" formControlName="firstName" name="firstName" placeholder="First Name">
                            </div>
                                <div class="input-group col-md-12 col-xs-12 col-lg-12">
                                <div class="errmsg"
                                    *ngIf="user.get('lastName').hasError('required') && user.get('lastName').touched">
                                    * last Name is required
                                </div>
                                <input id="email" type="text" class="form-control" formControlName="lastName" name="lastName" placeholder="Last Name">
                            </div>
                                <div class="input-group col-md-12 col-xs-12 col-lg-12">
                                <div class="errmsg"
                                    *ngIf="user.get('email').hasError('required') && user.get('email').touched">
                                    * email is required
                                </div>
                                <input id="email" type="text" class="form-control" formControlName="email" name="email" placeholder="Email">
                            </div>
                                <div class="input-group col-md-12 col-xs-12 col-lg-12">
                                <div class="errmsg"
                                    *ngIf="user.get('password').hasError('required') && user.get('password').touched">
                                    * password is required
                                </div>
                                <input id="email" type="password" class="form-control" formControlName="password" name="password" placeholder="Password">
                            </div>
                                <div class="input-group col-md-12 col-xs-12 col-lg-12">
                                <div class="errmsg"
                                    *ngIf="user.get('confirmPassword').hasError('required') && user.get('confirmPassword').touched">
                                    * please enter same password again
                                </div>
                                <input id="email" type="password" class="form-control" formControlName="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
                            </div>
                            <div class="row centeralign">
                                <button type="submit" class="btn btn-warning" id="signupbtn"  name="button">SIGN UP</button>
                            </div>
                        </form>
                    </div>
                    <div class="row legalterms">
                        <p class="legal">By signing up, I agree to Rave Crate’s <a>terms of service</a>, <a>Privacy Policy</a>, and <a>cookie policy</a>.</p>
                        <p class="legal">
                            Create Page for Freelancer or Event Planner.
                        </p>
                    </div>
                </div>
                    
             
            </div>
        </div>
    </section>
</div>