<footer>
    <div class="footer-links">
        <div class="row">
            <div class="col-md-1"><a [routerLink]="['/signup']">signup</a></div>
            <div class="col-md-1"><a [routerLink]="['/login']">login</a></div>
            <div class="col-md-1"><a [routerLink]="['/eventplanner']">eventplanner</a></div>
            <div class="col-md-1"><a [routerLink]="['/freelancer']">freelancer</a></div>
            <div class="col-md-1"><a [routerLink]="['/icons']">icons</a></div>
            <div class="col-md-1"><a [routerLink]="['/peoples']">peoples</a></div>
            <div class="col-md-1"><a [routerLink]="['/events']">events</a></div>
            <div class="col-md-1"><a [routerLink]="['/contactus']">contact us</a></div>
            <div class="col-md-1"><a [routerLink]="['/terms']">terms</a></div>
            <div class="col-md-1"><a [routerLink]="['/findacity']">find a city</a></div>
            <div class="col-md-1"><a [routerLink]="['/about']">about us</a></div>
            <div class="col-md-1"><a [routerLink]="['/careers']">careers</a></div>
        </div>
    </div>
    <div class="row bottom-footer">
        <div class="copyright col-md-6">
            <p>&copy; Copyright 2017 RaveCrate.</p>
        </div>
        <div class="social-media col-md-6">
            <a href="http://www.facebook.com/ravecrate"><i class="fa fa-facebook fa-2x"></i></a>
            <a href="http://www.instagram.com/ravecrate"><i class="fa fa-instagram fa-2x"></i></a>
            <a href="http://www.twitter.com/ravecrate"><i class="fa fa-twitter fa-2x"></i></a>
            <a href="http://www.linkedin.com/ravecrate"><i class="fa fa-linkedin fa-2x"></i></a>
        </div>
    </div>
</footer>