
<div id="myprofile">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3><img src="app\assets\images\events\eventsheads.png"> My Profile</h3>
        </div>
        <div class="row profilesec">
            <div class="well">
                <div class="col-md-4">First Name:</div>
                <div class="col-md-4">Bhargav</div>
            </div>
            <div class="well">
               <div class="col-md-4">Last Name:</div>
                <div class="col-md-4">Bhargav</div>
            </div>
            <div class="well">
                <div class="col-md-4">Email:</div>
                <div class="col-md-4">bbac@abc.com</div>
                <div class="col-md-4 editbtn"><a href="#">Edit</a></div>
            </div>
            <div class="well">
                <div class="col-md-4">Type:</div>
                <div class="col-md-4">Public</div>
                <div class="col-md-4 editbtn"><a href="#">Edit</a></div>
            </div>
            <div class="well">
                <div class="col-md-4">Hourly Rate:</div>
                <div class="col-md-4">67.89</div>
                <div class="col-md-4 editbtn"><a href="#">Edit</a></div>
            </div>
            <div class="well">
                <div class="col-md-4">Contact Phone:</div>
                <div class="col-md-4">789-989-0090</div>
                <div class="col-md-4 editbtn"><a href="#">Edit</a></div>
            </div>
        </div>
    </div>
</div>