<div class="container-fluid sitebgcolor aboutus">
    <div class="create-event">
        <h1>Welcome to RaveCrate</h1>
        <br>
        <div style="width: 50vw; text-align: center; margin: auto; font-size: 18px; border: 5px solid black; padding: 10px;">
            <p>The next evolution of the party scene – a one-stop solution for all things Events. Frustrated with the lack of awareness and accessibility to information surrounding local events, the company's founders realized that something was needed,
                something that would serve to bring people together easily and in real time. That something is RaveCrate, and it's being rolled out now.</p>
            <p>The way the platform works is remarkably simple: Event Organizers create their event on our website – a rave, a pool party, or anything else one can possibly think of. All one has to do is simply provide a few basic details, such as location,
                time, and ticket price (if applicable) and voila, they have created an event on RaveCrate.com! Our platform allows event organizers to reach all parties involved – event seekers, entertainers, sponsors, etc – and through that process
                all parties can connect and benefit. Event organizers gain a cost-effective way to promote their events to a larger audience, sponsors get large-scale exposure, and event seekers never have to miss an event again.</p>
            <p> However, the benefits aren't just for the organizers and attendees. RaveCrate also offers opportunities for entertainers, such as dancers, singers, DJs, musicians, etc. RaveCrate provides organizers access to a large pool of talent, and
                connects that talent with opportunity. By streamlining the process we seek to create a hub of everything events. We take pride in helping people connect – for work and for play.</p>
            <p> RaveCrate will also be releasing a mobile application. This means organizers, entertainers, and event seekers will always have RaveCrate at their fingertips. The app has been specially designed for the event seeker who is already out on
                the town but wants access to information on nearby local events. All they have to do is through a little tech magic RaveCrate will find and recommend nearby events.</p>
            <p>So join the RaveCrate Revolution, and let us help get you connected.</p>
            <p>- Johnny</p>
        </div>
    </div>
<br>
</div>
