<div id="o-wrapper" class="o-wrapper row"> <!--has-slide-left -->
    <button id="menubutton c-button--slide-left" (click)="toggleMenu()" class="c-button"><img src="app/assets/images/logo.png" class="c-button-img">MENU</button>
    <div class="hdrmenukinks hidden-xs hidden-sm">
        <a [routerLink]="['/about']">ABOUT US</a>
        <a [routerLink]="['/event.htm']">EVENTS</a>
        <a [routerLink]="['/freelancer']">FREELANCERS</a>
        <a [routerLink]="['/myprofile.htm']">MY PROFILE</a>
    </div>
    <div class="rightlogin hidden-xs hidden-sm">
        <button type="button" class="btn btn-warning" *ngIf="!userLoggedIn"  [routerLink]="['/login.htm']"><span class="glyphicon glyphicon-user"></span>Login</button>
        <button type="button" class="btn btn-warning" *ngIf="!userLoggedIn"  [routerLink]="['/signup.htm']"><span>&#x1f511;</span>Sign Up</button>
        <button type="button" class="btn btn-warning" *ngIf="userLoggedIn" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span>Logout</button>
    </div>
</div>

<nav id="c-menu--slide-left" class="c-menu c-menu--slide-left" [ngClass]="{'is-active': showNav }">
<div class="close-login">
    <button (click)="toggleMenu()" class="c-menu_close">&#10005;</button>
    <a [routerLink]="['/login.htm']" *ngIf="!userLoggedIn" (click)="toggleMenu()" class="nav-login">LOG IN</a>
</div>
<div class="nav-signup-div">
    <a [routerLink]="['/signup.htm']" *ngIf="!userLoggedIn" (click)="toggleMenu()" class="nav-signup">SIGN UP</a>
</div>
<ul class="c-menu__items">
    <li (click)="toggleMenu()" class="c-menu__item nav-border-top"><a [routerLink]="['/home.htm']" class="c-menu__link">HOME</a></li>
    <li (click)="toggleMenu()" class="c-menu__item"><a [routerLink]="['/about']" class="c-menu__link">ABOUT US</a></li>
    <li (click)="toggleMenu()" class="c-menu__item"><a [routerLink]="['/event.htm']" class="c-menu__link">EVENTS</a></li>
    <li (click)="toggleMenu()" class="c-menu__item"><a [routerLink]="['/createanevent.htm']" class="c-menu__link">CREATE AN EVENT</a></li>
    <li (click)="toggleMenu()" class="c-menu__item"><a [routerLink]="['/freelancer']" class="c-menu__link">FREELANCERS</a></li>
    <li (click)="toggleMenu()" class="c-menu__item"><a [routerLink]="['/createfreelancer']" class="c-menu__link">BE A FREELANCER</a></li>
    <li (click)="toggleMenu()" class="c-menu__item nav-border-bottom"><a [routerLink]="['/settings']" class="c-menu__link">SETTINGS</a></li>
</ul>
<div class="nav-image">
    <img src="app/assets/images/RC_Topbanner.png">
</div>
</nav>

<div id="c-mask" class="c-mask" [ngClass]="{'is-active': showNav }"></div>

