
<div class="container-fluid sitebgcolor contactus">

    <div class="contactushead">
        <span class="glyphicon glyphicon-phone-alt"></span><span>CONTACT US</span>
    </div>
    <div class="row contactusbox">
        <h2>Contact Us</h2>
        <form [formGroup]="contactUsForm" id="loginform" autocomplete="off" (ngSubmit)="contactUs(contactUsForm.value)" novalidate>
            <div class="input-group col-md-12 col-xs-12">
                <input id="name" [ngClass]= "{'error': !isFormValid}" type="text" class="form-control" formControlName="name" name="name" placeholder="Name">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> 
            </div>
            <div class="input-group col-md-12 col-xs-12">
                <input id="email" [ngClass]= "{'error': !isFormValid}" type="text" class="form-control" formControlName="email" name="email" placeholder="Please enter your email address">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span> 
            </div>
            <div class="input-group col-md-12 col-xs-12">
                <input id="phNumber" [ngClass]= "{'error': !isFormValid}" type="text" class="form-control" formControlName="phoneNumber" name="phoneNumber" placeholder="Phone">
                <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span> 
            </div>
            <div class="col-md-12 col-xs-12">
                <textarea class="form-control" [ngClass]= "{'error': !isFormValid}" id="emailTextarea" formControlName="description" placeholder="Please enter your comment/question/concern here"></textarea>
            </div>
            
            <div class="contactussubmitbtn">
                <button type="submit" class="btn btn-warning" id="contactsend"  name="button">Send</button>
            </div>
        </form>
    </div>
</div>
    
