.error{
    background-color: #E05C65 !important;
}

.contactus h1{
    text-align: center;
    color: #ffffff;
    margin-bottom:3%;
}

.contactus label{
    color: #ffffff;
    padding-left:7%;
}

.contactussubmitbtn{
    margin-top:1%;
    margin-bottom:2%;
    text-align: center;
}