#createanevent {
    padding:5% 15%;
    background-color: #00adef;
}

.panel-default{
    background-color: #23527c;
    
}

.panel-body h3 {
    color:#ec971f;
    border-bottom: 1px solid #ec971f;
    padding-bottom:15px;
}

.panel-body label {
    color:#f1f1f1;
    font-weight: normal;
}

#createEventForm {
    padding:2% 6%;
}

#createEventForm button {
    width: 200px;
}

.form-group div{
    margin-bottom:10px;
}


