<div id="createanevent">
    <rc-events-breadcrumb pageNumber=3></rc-events-breadcrumb>
    <div class="panel panel-default">
        <div class="panel-body">
            <h3><img src="app\assets\images\events\eventsheads.png"> Confirmation</h3>
             <form id="createEventForm" [formGroup]="createEventForm" autocomplete="off" method="post">
                  <div class="form-group row">
                    <div class="col-md-6">
                        <label class="form-control-label">Name of Event:</label>
                        
                    </div>
                    <div class="col-md-6">
                        <label class="form-control-label">Event Venue:</label>
                       
                    </div>
                 </div>
                 <div class="form-group row">
                    <div class="col-md-6">
                        <label class="form-control-label">Event Host:</label>
                        
                    </div>
                    <div class="col-md-6">
                        <label class="form-control-label">Street Number:</label>
                       
                    </div>
                 </div>
                 <div class="form-group row">
                    <div class="col-md-6">
                        <label class="form-control-label">Street Name:</label>
                        
                    </div>
                    <div class="col-md-6">
                        <label class="form-control-label">City:</label>
                        
                    </div>
                 </div>
                 <div class="form-group row">
                    <div class="col-md-6">
                        <label class="form-control-label">State:</label>
                         
                    </div>
                    <div class="col-md-6">
                        <label class="form-control-label">Zip Code:</label>
                       
                    </div>
                 </div>
                 <div class="form-group row">
                    <div class="col-md-6">
                        <label class="form-control-label">Date:</label>
                      
                    </div>
                    <div class="col-md-6">
                        <label class="form-control-label">Start Time (Military Time):</label>
                       
                    </div>
                 </div>
                 <div class="form-group row">
                    <div class="col-md-6">
                        <label class="form-control-label">Minute:</label>
                        
                    </div>
                    <div class="col-md-6">
                        <label class="form-control-label">Description:</label>
                        
                    </div>
                 </div>
                 <div class="form-group row">
                    <div class="col-md-6">
                        <label class="form-control-label">Type of Event:</label>
                       
                    </div>
                    <div class="col-md-6">
                        <label class="form-control-label">Fee:</label>
                       
                    </div>
                 </div>
                 <div class="form-group row">
                    <div class="col-md-6">
                        <label class="form-control-label">Contact Phone:</label>
                         
                    </div>
                    <div class="col-md-6">
                        <label class="form-control-label">Email:</label>
                        
                    </div>
                 </div>
                 <div class="form-group row">
                    <div class="col-md-6">
                        <label class="form-control-label">Add Image</label>
                        
                    </div>
                </div>
             </form>
        </div>
    </div>
</div>