<!--#icons-->
<div id="freelancers">
    <div class="freelancers-header text-center">
        <h1>WANT TO FREELANCE WITH RAVECRATE?</h1>
        <br>
        <a [routerLink]="['/createfreelancer']" class="become-a-freelancer">BECOME A FREELANCER</a>
    </div>
    
    <div class="icons">
        <h3 style="text-align: center;">CLICK ON OR HOVER OVER THE ICONS TO LEARN MORE ABOUT FREELANCING OPPORTUNITIES WITH <b>RAVECRATE</b></h3>
        <div class="content">
            <div class="row icon-group">
                
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 icon-content">
                    <div class="icon-title">
                        <p>Musician</p>
                    </div>
                    <div class="icon-image">
                        <span popover="With Ravecrate, you’ll find all that your local scene has to offer, from live jazz bands for mixers and cocktail parties to DJs for get-togethers and raves."
                        triggers="mouseenter:mouseleave">
                         <a><img src="app/assets/images/icons/RC_Musician.png"></a>
                        </span>
                    </div>
                </div>

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 icon-content">
                    <div class="icon-title">
                        <p>Personal Trainer</p>
                    </div>
                    <span popover="Gyms aren’t hard to find in today’s health-conscious world, although the guidance of a professional can. But with Ravecrate, you can find the personal trainer right for you."
                    triggers="mouseenter:mouseleave">
                    <a><img src="app/assets/images/icons/RC_Personal_Trainer.png"></a>
                    </span>
                </div>

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 icon-content">
                    <div class="icon-title">
                        <p>Chauffeur</p>
                    </div>
                    <span popover="Taxis or app-related driving services are either too expensive or too informal. Find affordable and professional chauffeurs ready to transport you and your guests."
                    triggers="mouseenter:mouseleave">
                    <a><img src="app/assets/images/icons/RC_Chauffeur.png"></a>
                    </span>
                </div>
                
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 icon-content">
                    <div class="icon-title">
                        <p>Photographer</p>
                    </div>
                    <span popover="A picture is a worth a thousand words, but you shouldn’t spend that many looking for photographers when they you can find them all on your phone."
                    triggers="mouseenter:mouseleave">
                    <a><img src="app/assets/images/icons/RC_Photographer.png"></a>
                    </span>
                </div>
            </div>

            <div class="row icon-group">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 icon-content">
                    <div class="icon-title">
                        <p>Club</p>
                    </div>
                    <span popover="Instead of walking the streets in search of the best location or endlessly searching for open clubs on the web, simply open your Ravecrate app to find nearby venues."
                        triggers="mouseenter:mouseleave">
                        <a><img src="app/assets/images/icons/RC_Club.png"></a>
                    </span>
                </div>

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 icon-content">
                    <div class="icon-title">
                        <p>DJ</p>
                    </div>
                    <span popover="Relying on word-of- mouth to find a DJ for your event is time-consuming, but we can put you in touch with professionals at the touch of a button."
                        triggers="mouseenter:mouseleave">
                        <a title="DJ"><img src="app/assets/images/icons/RC_DJ.png"></a>
                    </span>
                </div>

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 icon-content">
                    <div class="icon-title">
                        <p>Event Planner</p>
                    </div>
                    <span popover="If you’re too busy to plan out your event using Ravecrate, you can still use our app to hire a professional to plan for you."
                        triggers="mouseenter:mouseleave">
                        <a title="Event Planner"><img src="app/assets/images/icons/RC_Eventplanner.png"></a>
                    </span>
                </div>

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 icon-content">
                    <div class="icon-title">
                        <p>Valet</p>
                    </div>
                    <span popover="Cars don’t park themselves, and sometimes having your guests park their own cars isn’t the most convenient option. Hire valets with our mobile app."
                        triggers="mouseenter:mouseleave">
                        <a title="Valet"><img src="app/assets/images/icons/RC_Valet.png"></a>
                    </span>
                </div>
            </div>

            <div class="row icon-group">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 icon-content">
                    <div class="icon-title">
                        <p>Stylist</p>
                    </div>
                    <span popover="Some events not only require you to plan your best, but also look your best. Our app can help you do both by connecting you to stylists in your area."
                        triggers="mouseenter:mouseleave">
                        <a title="Stylist"><img src="app/assets/images/icons/RC_Stylist.png"></a>
                    </span>
                </div>

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 icon-content">
                    <div class="icon-title">
                        <p>Waitress</p>
                    </div>
                    <span popover="Even if your event is catered, sometimes servers are necessary. No need to enlist your friends at the last minute; you can reach waiters and waitresses with Ravecrate."
                        triggers="mouseenter:mouseleave">
                        <a title="Waitress"><img src="app/assets/images/icons/RC_Waitress.png"></a>
                    </span>
                </div>

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 icon-content">
                    <div class="icon-title">
                        <p>Dancer</p>
                    </div>
                    <span popover="Your guests might like to dance, but when the situation calls for professionals, our app offers you the best selection possible."
                        triggers="mouseenter:mouseleave">
                        <a title="Dancer"><img src="app/assets/images/icons/RC_Dancer.png"></a>
                    </span>
                </div>

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 icon-content">
                    <div class="icon-title">
                        <p>Keynote Speaker</p>
                    </div>
                    <span popover="While you might not be planning a university’s commencement ceremony or political convention, you can find a keynote speaker for your event with our app."
                        triggers="mouseenter:mouseleave">
                        <a title="Keynote Speaker"><img src="app/assets/images/icons/RC_EventSpeaker.png"></a>
                    </span>
                </div>
            </div>

            <div class="row icon-group">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 icon-content">
                    <div class="icon-title">
                        <p>Catering</p>
                    </div>
                    <span popover="Don’t settle for potlucks or scramble for deserts – use our app to locate caterers dedicated to providing your event with enough food for all your guests."
                        triggers="mouseenter:mouseleave">
                        <a title="Catering"><img src="app/assets/images/icons/RC_Catering.png"></a>
                    </span>
                </div>

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 icon-content">
                    <div class="icon-title">
                        <p>Host</p>
                    </div>
                    <span popover="Have a party planned and staffed but need a location? Contact an individual ready and willing to host your event."
                        triggers="mouseenter:mouseleave">
                        <a title="Host"><img src="app/assets/images/icons/RC_Hostess.png"></a>
                    </span>
                </div>

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 icon-content">
                    <div class="icon-title">
                        <p>Clown</p>
                    </div>
                    <span popover="Need an entertainer from your child’s next birthday party? Don’t look for the circus – use the Ravecrate app!"
                        triggers="mouseenter:mouseleave">
                        <a title="Clown"><img src="app/assets/images/icons/RC_Clown.png"></a>
                    </span>
                </div>

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 icon-content">
                    <div class="icon-title">
                        <p>Apparel</p>
                    </div>
                    <span popover="Need costumes to complete your choreography? Looking to clothe guests for a masked ball? Look no further than your phone – and Ravecrate."
                        triggers="mouseenter:mouseleave">
                        <a title="Apparel"><img src="app/assets/images/icons/RC_Apparel.png"></a>
                    </span>
                </div>
            </div>

            <div class="row icon-group">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 icon-content">
                    <div class="icon-title">
                        <p>Bartender</p>
                    </div>
                    <span popover="If your event takes place far from a bar, don’t worry about serving beverages and drinks as well as a bartender – just hire one with Ravecrate!"
                        triggers="mouseenter:mouseleave">
                        <a title="Bartender"><img src="app/assets/images/icons/RC_Bartender.png"></a>
                    </span>
                </div>

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 icon-content">
                    <div class="icon-title">
                        <p>Receptionist</p>
                    </div>
                    <span popover="Sometimes your events aren’t complete without a smile and greeting at the door. We can connect you with receptionists happy to direct guests."
                        triggers="mouseenter:mouseleave">
                        <a title="Receptionist"><img src="app/assets/images/icons/RC_Receptionist.png"></a>
                    </span>
                </div>

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 icon-content">
                    <div class="icon-title">
                        <p>Videographer</p>
                    </div>
                    <span popover="Widely-available camera technology can make anyone into a videographer, but why settle for grainy quality when you can instantly find a professional?"
                        triggers="mouseenter:mouseleave">
                        <a title="Videographer"><img src="app/assets/images/icons/RC_Videographer.png"></a>
                    </span>
                </div>

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 icon-content">
                    <div class="icon-title">
                        <p>Security</p>
                    </div>
                    <span popover="Not every event can be managed alone. Find bouncers or guards for your larger and more unpredictable events without calling up every local agency."
                        triggers="mouseenter:mouseleave">
                        <a title="Security"><img src="app/assets/images/icons/RC_Security_New.png"></a>
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>