html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.sebm-google-map-container {
  height: 500px;
}

.locationstyle{
    height: 125px; width: 200px; border: 5px solid black;
}


#eventgrid{
    text-transform: uppercase;
    text-align: center;
}

.error{
    background-color: #E05C65 !important;
}

