.settings{
    height:800px;
    border: 2px solid #17B2EF;
    width:80%;
    margin:20px 10%;
    padding:0px 0px 0px 25%;
}

h1{
    margin-left:8%;
    color: #17B2EF;
    margin-bottom:3%;
}

.settings p{
    margin-left:13%;
    margin-bottom:3%;
}

.settingdiv div{
    margin-bottom: 1.5%;
}

.pagetype{
    font-weight: bold;
    display:inline-block;
    width:20%;
}
