<div class="container-fluid sitebgcolorwht settings">
    <h1>Manage Your Settings</h1>
    <p>Update your event settings here</p>
    <div class="settingdiv">
        <div>   
            <input type="radio" name="settingstype"/> <span class="pagetype">PUBLIC PAGE:</span><span>Make this page visible on the website, app and search engines.</span>
        </div>
        <div>   
            <input type="radio" name="settingstype"/> <span class="pagetype">PRIVATE PAGE:</span><span>do not list my event for public view.</span>
        </div>
        <div>   
            <input type="radio" name="settingstype"/> <span class="pagetype">INVITE ONLY:</span><span>Only show event to selected guest</span>
        </div>
    </div>
</div>