<div class="container-fluid sitebgcolor forgotyourpasswrd">
    <div class="login-form-wrap">
    <div class="login-wrap">
        <div class="login-form">
            <form [formGroup]="restPasswordForm" autocomplete="off" (ngSubmit)="resetPassword(restPasswordForm.value)" novalidate>
                <div class="login-form">
                    <h2>Forgot Your Password</h2>
                    <p>
                       Enter Your e-mail address and we will <br>send a link to reset your password.
                    </p>
                    <div class="form-group">
                        <input [ngClass]= "{'error': !isFormValid}" type="text" formControlName="email" name="email" placeholder="E-mail"  required id="password" class="login-input">
                    </div>
                    <button type="submit" id="login" name="button">Reset Password</button>
                    <a id="returntohomeid" href="#" (click)="returnToHome($event)">Return to Homepage</a>
                </div>
            </form>
        </div>
    </div>
</div>

