.emailcontent p:nth-child(2n+1){
    font-size: 120px;
    font-weight: bold;
    margin-top:5%;
}

.emailcontent p:nth-child(2n){
    font-size: 1em;
    font-weight: bold;
    margin-top:2%;
}

.emailcontent{
    margin-bottom: 20px;
}

.emailcontent{
    margin-top:20px !important;
    clear: both;
}