<div class="container-fluid sitebgcolor forgotyourpasswrd">
    <div class="login-form-wrap">
    <div class="login-wrap">
        
            <div class="emailcontent">
                <p><span class="glyphicon glyphicon-ok-circle"></span></p>
                <p>check your email</p>
                <p><span class="glyphicon glyphicon-envelope"></span></p> 
                <p>we just sent you an e-mail with a link to reset your password!</p>
            </div>
   
    </div>
</div>

